/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #2e8555;
    --ifm-color-primary-dark: #29784c;
    --ifm-color-primary-darker: #277148;
    --ifm-color-primary-darkest: #205d3b;
    --ifm-color-primary-light: #33925d;
    --ifm-color-primary-lighter: #359962;
    --ifm-color-primary-lightest: #3cad6e;
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
    /* custom css */
    --ifm-background-color: #ecbc88;
    --ifm-navbar-background-color: #cd9252;
    --ifm-footer-background-color: #c3915c;
    --ifm-link-color : #145C9E;
    --ifm-table-border-color : #800c0c;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
    --ifm-color-primary: #c2b225;
    --ifm-color-primary-dark: #21af90;
    --ifm-color-primary-darker: #1fa588;
    --ifm-color-primary-darkest: #1a8870;
    --ifm-color-primary-light: #29d5b0;
    --ifm-color-primary-lighter: #32d8b4;
    --ifm-color-primary-lightest: #4fddbf;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
    /* custom css */
    --ifm-navbar-background-color: #242526;
    --ifm-footer-background-color: #303846;
    --ifm-link-color: #c2b225;
}


.col--7 {
    --ifm-col-width: calc(10 / 12 * 100%);
} /* i.e. not col--7 anymore */

@media (max-width: 996px) {
    .col {
        --ifm-col-width: 100%;
        flex-basis: var(--ifm-col-width);
        margin-left: 0;
    }
} /* continue to over-ride col--7 for mobile displays */

.col--3 {
    --ifm-col-width: calc(2 / 12 * 100%);
} /* not col-3 anymore */